In [48]:
import pandas as pd
#거래량 만들기

In [49]:
df1 = pd.read_csv('../data/y/kodex(5min).csv')

In [50]:
# 'date' 컬럼에서 '09xx'을 포함하는 데이터만 필터링한다.
df2 = df1[df1['date'].astype(str).str.endswith('0905')]

df3 = df1[df1['date'].astype(str).str.endswith('0910')]

In [51]:
# 'date' 컬럼의 데이터를 YYYYMMDD 형태로 변환
df2['date'] = df2['date'].astype(str).str[:8].astype(int)
df3['date'] = df3['date'].astype(str).str[:8].astype(int)
merged_data = pd.merge(df2, df3, on='date', how='inner')
merged_data

C:\Users\hotte\AppData\Local\Temp\ipykernel_23440\70934830.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date'] = df2['date'].astype(str).str[:8].astype(int)
C:\Users\hotte\AppData\Local\Temp\ipykernel_23440\70934830.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['date'] = df3['date'].astype(str).str[:8].astype(int)

,date,open_x,high_x,low_x,close_x,volume_x,open_y,high_y,low_y,close_y,volume_y
0,20181001,27148,27229,27148,27202,259685,27202,27202,27171,27175,79532
1,20181002,27076,27117,27063,27099,162628,27099,27108,27072,27072,85831
2,20181004,26806,26806,26694,26703,87806,26698,26703,26640,26644,81730
3,20181005,26316,26365,26289,26289,232223,26289,26298,26230,26271,105290
4,20181008,26194,26253,26176,26217,138069,26212,26226,26190,26217,99032
...,...,...,...,...,...,...,...,...,...,...,...
1236,20231020,32175,32200,32100,32145,210079,32140,32145,32060,32065,125951
1237,20231023,31905,31935,31865,31885,154867,31880,31930,31835,31930,107636
1238,20231024,31920,31960,31870,31880,115769,31870,31885,31820,31845,72329
1239,20231025,32105,32105,32015,32075,186715,32080,32115,32005,32090,107189
1240,20231026,31355,31380,31305,31370,159952,31370,31420,31345,31405,146070

In [52]:
merged_data['volume'] = merged_data['volume_x'] + merged_data['volume_y']

In [53]:
merged_data[['date','volume']].to_csv('../data/y_volume/y_vol_0900_0910.csv')

In [58]:
mdf1 = merged_data[['date','volume']]
df4 = df1[df1['date'].astype(str).str.endswith('1000')]
mdf1['date'] = mdf1['date'].astype(str).str[:8].astype(int)
df4['date'] = df4['date'].astype(str).str[:8].astype(int)
merged_data = pd.merge(mdf1, df4, on='date', how='inner')
merged_data['volume'] = merged_data['volume_x'] + merged_data['volume_y']
merged_data[['date','volume']].to_csv('../data/y_volume/y_vol_0900_1000.csv')

C:\Users\hotte\AppData\Local\Temp\ipykernel_23440\349715713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mdf1['date'] = mdf1['date'].astype(str).str[:8].astype(int)
C:\Users\hotte\AppData\Local\Temp\ipykernel_23440\349715713.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['date'] = df4['date'].astype(str).str[:8].astype(int)